<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ilmoittautuminen</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/show"> Ilmoittautuneet</a></li>
            <li><a routerLink="/form"> Ilmoittautumislomake</a></li>
        </ul>
    </div>
    </nav>
</header>
<div id="main">
  <!-- Router ohjaa sisällön tähän. -->
  <router-outlet></router-outlet>
</div>
