<!-- form komponenttiin liittyvä html templaatti
Muutoksia konversiossa ei tarvinnut tehdä paljoa. ng-model merkintä muuttui [(ngModel)] muotoon.
Lisäksi toteutettu email validointi.
 -->
<div class="panel panel-default">
    <div class="panel-heading"><strong>Ilmoittautumislomake</strong></div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="nimi">Nimi:</label>
                <input type="text" class="form-control" id="nimi" placeholder="nimi" [(ngModel)]="formdata.name" name="name">

                <label for="email">Email:</label>
                <!-- Email fieldissä toteutetaan email validointi angular 4 sisäänrakennetulla tavalla.
                Kyseinen metodi ei ole täysin toimiva, sillä osoitteen päätteen voi jättää laittamatta-->
                <input type="email" email class="form-control" id="email" placeholder="email" [(ngModel)]="formdata.email" name="emailField" #emailField="ngModel">

                <label for="ruoka">Ruokavalinta:</label>
                <select class="form-control" id="ruoka" [(ngModel)]="formdata.food" name="food">
                    <option>Kala</option>
                    <option>Liha</option>
                    <option>Kasvis</option>
                </select>
                <div class="checkbox">
                <label><input type="checkbox" [(ngModel)]="formdata.sauna" name="sauna"> Osallistun saunailtaan</label>
                </div>
                <input type="hidden" [(ngModel)]="formdata.id" name="id"/>
            </div>
            <button type="button" class="btn btn-default" (click)="addData()">Lähetä</button>
        </form>
    </div>
</div>
