<!-- show.html ainoa muutos oli ng-repeatin muuttaminen *ngFor muotoon-->
<div class="panel panel-default">
    <div class="panel-heading"><strong>Ilmoittautuneet</strong></div>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nimi</th>
                        <th>Email</th>
                        <th>Ruokavalinta</th>
                        <th>Saunailta</th>
                    </tr>
                </thead>
                <tbody>
                     <tr *ngFor="let x of ilmot">
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{ x.email}}</td>
                        <td>{{ x.food}}</td>
                        <td>{{ x.sauna}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
